<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="p-5 bg-primary text-white text-center">
  <h1>"With drugs and cofee anything is impossible"</h1>
  <p>Welcome to my profile website! Feel free to click everywhere or nowhere! :)</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Background</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Experience</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <img class="img-fluid" src="images/foto1.jpg" style="width: 100%"/>
      <p>Me ready to take a job as front end developer...</p>
      <h3 class="mt-4">Click bait me!</h3>
      <p>Things you might know about me...</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Background</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experience</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Roberto González</h2>
      <h5>Digital Systems and Robotics Engineer</h5>
      <p>I am a 7th semester student currently enrolled in Tecnológico de Monterrey. As Digital 
        Systems and Robotics engineer, I am capable of provide solutions of distinct design areas 
        (Hardware & Software). Especially in analog electronics, microcontrollers, microprocessors, 
        and operative systems applied in robotics. In addition, I have knowledge of statistical
        analysis, open-source data bases and data visualization tools. Furthermore, I have the 
        experience of using CAD software for mechanical system designs. I am diligent, realist and 
        creative. Effective communication and hard work are crucial to accomplish any given task. I 
        believe self-consciousness, empathy and objective milestones are essential to the decision 
        making process. Astronomy and photography are some of my hobbies. Currently, I am 
        interested in the design of embedded systems for commercial use or specific applications 
        that require greater precision and reliability.</p>
      <img class="img-fluid" src="images/foto2.jpg" style="width: 100%"/>
      <p>Some of my work as amateur photographer...</p>
    </div>
  </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Enjoy :p</p>
</div>

</body>
</html>
