p{
    background-color: slateblue;
    font-family: 'Courier New', Courier, monospace;
}
.clase1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightblue;
}

#p9{
    background-color: slateblue;
}